@media (min-width: 1200px) {
    #banner {
        overflow: hidden;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/*
@media (max-width: 1919px) {

    #space {
        justify-content: center;
        align-items: center;
        display: flex;

        video {
            position: relative;
            height: 100vh;
            width: auto;
        }
    }
}*/
