#partners {
    background: url(../img/partners-bg.jpg);
    background-size: cover;
    
    .waves {
        position: relative;
        width: 100%;
        height: 15vh;
        margin-bottom: -7px; /*Fix for safari gap*/
        min-height: 100px;
        max-height: 150px;
        .wave > use {
            animation: wave 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
        }
        .wave > use:nth-child(1) {
            animation-delay: -2s;
            animation-duration: 7s;
        }
        .wave > use:nth-child(2) {
            animation-delay: -3s;
            animation-duration: 10s;
        }
        .wave > use:nth-child(3) {
            animation-delay: -4s;
            animation-duration: 13s;
        }
        .wave > use:nth-child(4) {
            animation-delay: -5s;
            animation-duration: 20s;
        }
    }

    .footer {
        background: $primary;
        
        h1, p {
            color: #161a1d;
        }

        #map {
            width: 100%;
            height: 300px;
            border-radius: 5px;
                        
        }
    }
}
