// TEMP
#values {
    background: url(../img/values-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    background-size: cover;
    align-items: center;
    display: flex;
}