body {
  background-color: #F5B512;
}

.centered {
  position: relative;
  top: -25px;

  .infobox {
    text-align: center;
    border-radius: 8px;
    background-color: #fff;
    border: 4px solid #F5B512;
    box-shadow: 0 10px 30px -15px #121212;
    margin-bottom: 40px;

    h1,
    p,
    span {
      color: #121212;
    }

    h1 {
      font-weight: 400;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;

      &.contrast {
        font-size: 24px;
        font-weight: 300;
      }
    }

    span {
      font-size: 10px;
      color: #B2B2B2;
      line-height: 28px;
    }
  }

  &__content {
    h1 {
      font-weight: 700;
      margin-bottom: 20px;
    }

    p {
      color: #3B2B02;
      font-size: 20px;
    }
  }


}

@media (min-width: 1200px) {
  .centered {
    position: relative;
    top: -70px;
    text-align: center;

    .infobox {
      margin-bottom: 80px;

      span {
        font-size: 16px;
      }
    }

    &__content {
      h1 {
        margin-bottom: 40px;
      }
    }
  }
}