@import "settings";

@import "../node_modules/bootstrap/scss/bootstrap";

.form-control, .form-select {
    background-color: #354453;
    border: none;
    border-left: 1px solid $primary;
    border-right: 1px solid $primary;

    &:focus {
        background-color: #27323D;
    }
}

.form-select {
    background-image: url(../img/select.svg);    
}
